@namespace  Blazor.AdminLte
    <div class="small-box bg-@DisplayBackgroundColor">
        <div class="inner">
            <h3>@Value</h3>
            <p>@Title</p>
        </div>
        @if (!string.IsNullOrEmpty(Icon))
        {
            <div class="icon">
                <i class="@Icon"></i>
            </div>
        }
        @Footer
        @if (LoadingState != LoadingState.None)
        {
            <div class="@(LoadingState.GetDescription<StyleAttribute>())">
                <i class="@LoadingStateIcon @(LoadingStateIconSpinning ? "fa-spin" : "")"></i>
            </div>
        }
    </div>
