@namespace Blazor.AdminLte
<label for="@Value.Identifier">@((MarkupString)Value.Label)</label>
<input class="form-control" id="@Value.Identifier" placeholder="@Value.Placeholder"  value="@Value.Value" @onchange="DoChange" type="@Value.Type">
