@namespace Blazor.AdminLte
    <li class="nav-item">
        <a class="nav-link @(IsActive ? "active" : string.Empty)" id="@(CompositeIdentifier)-tab" data-toggle="pill" href="#@(CompositeIdentifier)" role="tab" aria-controls="@CompositeIdentifier" aria-selected="@IsActive">@ChildContent</a>
    </li>